# editors
.idea/*
.vscode/*
.python-version
.mise.toml
.DS_Store

# python
.venv
__pycache__/
*.py[cod]
*$py.class
.mypy_cache

# packaging
*.egg
!/tests/**/*.egg
/*.egg-info
/dist/*
build
_build
.cache
*.so

# testing / coverage
.coverage*
.pytest_cache
.ruff_cache
