# editors
.idea/*
.vscode/*
.python-version
.DS_Store

# python
.venv
__pycache__/
*.py[cod]
*$py.class
.mypy_cache

# packaging
*.egg
!/tests/**/*.egg
/*.egg-info
/dist/*
build
_build
.cache
*.so

# logs
pip-log.txt

# testing / coverage
.coverage
.pytest_cache

# release
/setup.cfg
MANIFEST.in
# /setup.py
/releases/*
pip-wheel-metadata
poetry.toml
