[[source]]
url = "https://pypi.org/simple"
name = "pypi"
verify_ssl = true

[dev-packages]
"flake8" = "*"
pytest = "*"
asyncqt = {editable = true, path = "."}
"pathlib2" = "*"
pytest-cov = "*"
codecov = "*"

[packages]
